<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
   <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
   <br/>
   <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
   <br/>
   <input type = "submit" value = "submit">
</form>

<p [innerHTML]="theHtmlString"></p>
<p [innerHTML]="rcode"></p>
<p [innerHTML]="num"></p>

<p> {{ loginStatus }} </p>

<!-- single form -->
<!-- <input type="text" [formControl]="name">

<p>
  Value: {{ name.value }}
</p>

<p>
  <button (click)="updateName()">Update Name</button>
</p> -->

<!-- form group -->
<!-- <form [formGroup]="profileForm"> -->
<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form> -->


<!-- test -->
<!-- <p>
  First name: {{ profileForm.firstName }}
  Last name: {{ profileForm.lastName }}
</p> -->


<!-- nested form group -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>

    <label>
      State:
      <input type="text" formControlName="state">
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <div formGroupName="colors">
    <label>
      Red:
      <input type="radio" value="red" formControlName="color">
    </label>
    <label>
      Green:
      <input type="radio" value="green" formControlName="color">
    </label>
    <label>
      Green:
      <input type="radio" value="blue" formControlName="color">
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>

<p>{{profileForm.value | json}}</p>

<p>
  Form Status: {{ profileForm.status }}
</p>



<form [formGroup]="catgeoryForm" (ngSubmit)="onClickSubmit2()">
    <h2 class="form-title">Event/Club Categories</h2>
    <br />
    <label>Event Categories:</label>
    <div class="categories" aria-labelledby="eventCategories" formGroupName="eventCategories">
        <!--<label class="btn btn-orange">
        <input type="radio" name="options" id="option1" checked> General Body Meeting (GBM)
    </label>-->
      <label for="gbm" id="gbm" class="btn btn-secondary btns btn-orange btn-category">
          <input id="gbm" type="radio" class="btns btn-orange" autocomplete="off" value="gbm" formControlName="eventCategory">
          General Body Meeting (GBM)
      </label>
      <label for="casual" id="casual" class="btn btn-secondary btns btn-orange btn-category">
          <input id="casual" type="radio" class="btns btn-orange btn-category" autocomplete="off" value="casual" formControlName="eventCategory">
          Casual
      </label>
      <label for="movie" id="movie" class="btn btn-secondary btns btn-orange btn-category">
          <input id="movie" type="radio" class="btns btn-orange" autocomplete="off" value="movie" formControlName="eventCategory">
          Movie Showing
      </label>
      <label for="games" id="games" class="btn btn-secondary btns btn-orange btn-category">
          <input id="games" type="radio" class="btns btn-orange" autocomplete="off" value="games" formControlName="eventCategory">
          Games/Trivia
      </label>
      <label for="info" id="info" class="btn btn-secondary btns btn-orange btn-category">
          <input id="info" type="radio" class="btns btn-orange" autocomplete="off" value="info" formControlName="eventCategory">
          Informational
      </label>
      <label for="excursion" id="excursion" class="btn btn-secondary btns btn-orange btn-category">
          <input id="excursion" type="radio" class="btns btn-orange" autocomplete="off" value="excursion" formControlName="eventCategory">
          Excursion
      </label>
      <label for="elections" id="elections" class="btn btn-secondary btns btn-orange btn-category">
          <input id="elections" type="radio" class="btns btn-orange" autocomplete="off" value="elections" formControlName="eventCategory">
          Elections
      </label>
      <label for="workshop" id="workshop" class="btn btn-secondary btns btn-orange btn-category">
          <input id="workshop" type="radio" class="btns btn-orange" autocomplete="off" value="workshop" formControlName="eventCategory">
          Workshop
      </label>
      <label for="recruit" id="recruit" class="btn btn-secondary btns btn-orange btn-category">
          <input id="recruit" type="radio" class="btns btn-orange" autocomplete="off" value="recruit" formControlName="eventCategory">
          Recruiting (Company)
      </label>
      <label for="other" id="other" class="btn btn-secondary btns btn-orange btn-category">
          <input id="other" type="radio" class="btns btn-orange" autocomplete="off" value="other" formControlName="eventCategory">
          Other
      </label>
    </div>

    <input class="btn-save" type="submit" value="Save" />
    <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
</form>

<p>{{catgeoryForm.value | json}}</p>
